@font-face {
  font-family: "iconfont"; /* Project id 2996936 */
  src: url('https://file.huaqi.pro/HuaQiPro/0DCF59D7D2AFA9BC/202502200021582.woff2?t=1640151162453') format('woff2'),
       url('https://file.huaqi.pro/HuaQiPro/0DCF59D7D2AFA9BC/202502200021459.woff?t=1640151162453') format('woff'),
       url('https://file.huaqi.pro/HuaQiPro/0DCF59D7D2AFA9BC/202502200022400.ttf?t=1640151162453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialajiantouxiao:before {
  content: "\e907";
}

.icon-shouqijiantouxiao:before {
  content: "\e908";
}

.icon-xiangshangyuanjiantou:before {
  content: "\e624";
}

.icon-xiangxiayuanjiantou:before {
  content: "\e625";
}

.icon-zhuce1:before {
  content: "\e71c";
}

.icon-sousuo1:before {
  content: "\e62a";
}

.icon-zhuce:before {
  content: "\e642";
}

.icon-denglu:before {
  content: "\e70a";
}

.icon-denglu1:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e62e";
}

.icon-wodexuanzhong:before {
  content: "\e633";
}

.icon-wode:before {
  content: "\e634";
}

.icon-xinxixuanzhong:before {
  content: "\e635";
}

.icon-xiangshang:before {
  content: "\e611";
}

.icon-xiangxia:before {
  content: "\e615";
}

.icon-xiangyoutianchong:before {
  content: "\e618";
}

.icon-yuzhouxingqiu-10:before {
  content: "\e610";
}

.icon-yuzhouxingqiu-13:before {
  content: "\e612";
}

.icon-yuzhouxingqiu-14:before {
  content: "\e613";
}

.icon-yuzhouxingqiu-17:before {
  content: "\e614";
}

.icon-yuzhouxingqiu-22:before {
  content: "\e616";
}

.icon-yuzhouxingqiu-24:before {
  content: "\e617";
}

